<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Kyle Graehl" />
   <link href="http://feeds.feedburner.com/kyle-graehl" rel="alternate" title="Kyle Graehl" type="application/atom+xml" />
  
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div style="float:right; padding: 2em"><a href="https://github.com/kzahel"><img src="/images/wheee.png" /></a></div>

<div class="site">
  <div class="title">
    <a href="/">Kyle Graehl</a>
    <a class="extra" href="/">home</a>
  </div>


  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Kyle Graehl<br />
      </p>
    </div>

    <div class="contact">
      <p>
        <a href="http://github.com/kzahel/">github.com/kzahel</a><br />
        <a href="http://twitter.com/kzahel/">@kzahel</a><br />
        <a href="http://www.graehlarts.com">Graehl Arts</a><br />
        <a href="http://www.chromebeat.com">Chromebeat</a><br />
      </p>
    </div>


    <div class="rss">
      <a href="http://feeds.feedburner.com/kyle-graehl">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>

  </div>
</div>

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "41e4a3cb97504cadb171d1b0f83c85e2"}'></script><!-- End Cloudflare Web Analytics -->

</body>
</html>
